<div class = "banner">
  <h1>Welcome to GlamLease Home !</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="button-container">

    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>


  </div>


<style>

body{
  background-color:rgb(219, 215, 231);
}

.banner{
  background: linear-gradient(rgb(129, 82, 165),rgb(45, 17, 67));
  height: 200px;
  width : 100%;
  color: rgb(241, 238, 244);
  padding : 30px;

}

h1,p{
margin-left: 270px;
}


.button-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
  gap: 20px; /* Espacement entre les boutons */
  padding: 30px;
          }

  .box_vetement{
    width: 230px;
    height: 200px;
    background-color: rgb(240, 239, 243);
    border: solid, 1px, rgb(31, 30, 35);
    border-radius: 5px;
  }

</style>
