<div class = "banner">
  <h1>Welcome to GlamLease Home !</h1>
  <p>Clothes renting between consumers</p>
</div>

<div class="button-container">

    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>
    <div class="box_vetement"> </div>


  </div>
